.footer{
    position: fixed;
    bottom: 0;
    background-color: grey;
    width: 100%;
    line-height:3 ;
    text-align: center;

}

.heading{
    width: 100%;
    
    font-size:28 ;
}

.note{
    font-size:16 ;
    color: black;
}
canvas{
    background-color: grey;
    box-shadow:5px 5px 5px  grey ;
    border-radius:10px;
    
}